<h1>Login</h1>
<div class="container"><form  class="form-container" action="/api/session" method="POST">
<div class="form-group"><label for="email">Email:</label>
  <input type="email" id="email" name="email" required /></div>
<div class="form-group">  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required />
</div>
  <button type="submit">Login</button>
  <h4>Aún no tienes una cuenta?<a href="/register"> Registrate Aquí</a></h2>
</form></div>